In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("top10K-TMDB-movies.csv")

In [3]:
movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [4]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [6]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In the information above, it can be seen that just 3 missing value in genre and 13 missing value in overview . It's still good . We're gonna check which feature is important to build the model

# Feature Selection

In [7]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies=movies[['id', 'title', 'overview', 'genre']]

In [9]:
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [10]:
movies['tags'] = movies['overview'] + movies['genre']

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3548\2958959546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genre']

In [11]:
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [12]:
new_data = movies.drop(columns=['overview', 'genre'])

In [13]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

Now,we're gonna convert the tags into vector and using cosine to detect the similarity

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv=CountVectorizer(max_features=10000, stop_words='english') # We're gonna remove a,an,the,...in English by using stop word

In [17]:
cv

CountVectorizer(max_features=10000, stop_words='english')

If your data set contains 10000 rows (each row represents a text), and the number of different words in the entire dataset does not exceed 10000, the dictionary will have a maximum of 10000 words.

In [18]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [19]:
vector.shape

(10000, 10000)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity=cosine_similarity(vector)

In [22]:
similarity

array([[1.        , 0.05634362, 0.12888482, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       ...,
       [0.07559289, 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08645856, ..., 0.02817181, 0.0412393 ,
        1.        ]])

In [24]:
new_data[new_data['title']=="Joker"].index[0]

153

In [30]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [33]:
def recommendation(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [35]:
recommendation("Domino")

Domino
One for the Money
Man on the Moon
Batman: Hush
Twelve

In [36]:
import pickle

In [37]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [38]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [39]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [1]:
pip install streamlit

Collecting streamlitNote: you may need to restart the kernel to use updated packages.

  Downloading streamlit-1.25.0-py2.py3-none-any.whl (8.1 MB)
                                              0.0/8.1 MB ? eta -:--:--
                                              0.1/8.1 MB 1.7 MB/s eta 0:00:05
     -                                        0.2/8.1 MB 2.5 MB/s eta 0:00:04
     --                                       0.4/8.1 MB 3.0 MB/s eta 0:00:03
     ---                                      0.6/8.1 MB 3.4 MB/s eta 0:00:03
     ----                                     0.9/8.1 MB 3.7 MB/s eta 0:00:02
     -----                                    1.1/8.1 MB 4.2 MB/s eta 0:00:02
     ------                                   1.4/8.1 MB 4.3 MB/s eta 0:00:02
     -------                                  1.5/8.1 MB 4.2 MB/s eta 0:00:02
     --------                                 1.7/8.1 MB 4.1 MB/s eta 0:00:02
     ---------                                2.0/8.1 MB 4.3 MB/s eta 0:00:02
     ----------                               2.2/8.1 MB 4.2 MB/s eta 0:00:02
     -----------                              2.3/8.1 MB 4.1 MB/s eta 0:00:02
     ------------                             2.5/8.1 MB 4.2 MB/s eta 0:00:02
     -------------                            2.7/8.1 MB 4.2 MB/s eta 0:00:02
     --------------                           2.9/8.1 MB 4.2 MB/s eta 0:00:02
     ---------------                          3.1/8.1 MB 4.2 MB/s eta 0:00:02
     ----------------                         3.3/8.1 MB 4.2 MB/s eta 0:00:02
     -----------------                        3.5/8.1 MB 4.2 MB/s eta 0:00:02
     ------------------                       3.8/8.1 MB 4.4 MB/s eta 0:00:01
     -------------------                      3.9/8.1 MB 4.3 MB/s eta 0:00:01
     --------------------                     4.2/8.1 MB 4.4 MB/s eta 0:00:01
     ----------------------                   4.5/8.1 MB 4.5 MB/s eta 0:00:01
     -----------------------                  4.8/8.1 MB 4.5 MB/s eta 0:00:01
     -----------------------                  4.8/8.1 MB 4.5 MB/s eta 0:00:01
     -------------------------                5.1/8.1 MB 4.5 MB/s eta 0:00:01
     -------------------------                5.2/8.1 MB 4.4 MB/s eta 0:00:01
     -------------------------                5.2/8.1 MB 4.4 MB/s eta 0:00:01
     -------------------------                5.2/8.1 MB 4.4 MB/s eta 0:00:01
     ---------------------------              5.6/8.1 MB 4.2 MB/s eta 0:00:01
     -----------------------------            5.9/8.1 MB 4.3 MB/s eta 0:00:01
     ------------------------------           6.2/8.1 MB 4.4 MB/s eta 0:00:01
     -------------------------------          6.4/8.1 MB 4.3 MB/s eta 0:00:01
     --------------------------------         6.5/8.1 MB 4.4 MB/s eta 0:00:01
     --------------------------------         6.5/8.1 MB 4.4 MB/s eta 0:00:01
     ----------------------------------       7.0/8.1 MB 4.4 MB/s eta 0:00:01
     -----------------------------------      7.2/8.1 MB 4.4 MB/s eta 0:00:01
     -------------------------------------    7.5/8.1 MB 4.4 MB/s eta 0:00:01
     --------------------------------------   7.8/8.1 MB 4.4 MB/s eta 0:00:01
     ---------------------------------------  8.0/8.1 MB 4.5 MB/s eta 0:00:01
     ---------------------------------------- 8.1/8.1 MB 4.4 MB/s eta 0:00:00
Collecting altair<6,>=4.0 (from streamlit)
  Downloading altair-5.0.1-py3-none-any.whl (471 kB)
                                              0.0/471.5 kB ? eta -:--:--
     ------------------                     225.3/471.5 kB 6.9 MB/s eta 0:00:01
     -------------------------------------  471.0/471.5 kB 7.3 MB/s eta 0:00:01
     -------------------------------------- 471.5/471.5 kB 3.7 MB/s eta 0:00:00
Collecting blinker<2,>=1.0.0 (from streamlit)
  Downloading blinker-1.6.2-py3-none-any.whl (13 kB)
Collecting cachetools<6,>=4.0 (from streamlit)
  Downloading cachetools-5.3.1-py3-none-any.whl (9.3 kB)
Requirement already satisfied: click<9,>=7.0 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<10,>=7.1.0 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (9.4.0)
Collecting protobuf<5,>=3.20 (from streamlit)
  Downloading protobuf-4.23.4-cp310-abi3-win_amd64.whl (422 kB)
                                              0.0/422.5 kB ? eta -:--:--
                                              10.2/422.5 kB ? eta -:--:--
     --------                                92.2/422.5 kB 1.1 MB/s eta 0:00:01
     --------------                         163.8/422.5 kB 1.2 MB/s eta 0:00:01
     ---------------------------------      368.6/422.5 kB 2.1 MB/s eta 0:00:01
     -------------------------------------- 422.5/422.5 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: pyarrow>=6.0 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (11.0.0)
Collecting pympler<2,>=0.9 (from streamlit)
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
                                              0.0/164.8 kB ? eta -:--:--
     -------------------------------------- 164.8/164.8 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.18 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (2.29.0)
Collecting rich<14,>=10.14.0 (from streamlit)
  Downloading rich-13.4.2-py3-none-any.whl (239 kB)
                                              0.0/239.4 kB ? eta -:--:--
     -------------------------------------- 239.4/239.4 kB 7.4 MB/s eta 0:00:00
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.1.0 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (4.6.3)
Collecting tzlocal<5,>=1.1 (from streamlit)
  Downloading tzlocal-4.3.1-py3-none-any.whl (20 kB)
Collecting validators<1,>=0.2 (from streamlit)
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit)
  Downloading GitPython-3.1.32-py3-none-any.whl (188 kB)
                                              0.0/188.5 kB ? eta -:--:--
     ------------------------               122.9/188.5 kB 2.4 MB/s eta 0:00:01
     -------------------------------------- 188.5/188.5 kB 2.9 MB/s eta 0:00:00
Collecting pydeck<1,>=0.8 (from streamlit)
  Downloading pydeck-0.8.0-py2.py3-none-any.whl (4.7 MB)
                                              0.0/4.7 MB ? eta -:--:--
     -                                        0.1/4.7 MB 4.2 MB/s eta 0:00:02
     --                                       0.3/4.7 MB 3.1 MB/s eta 0:00:02
     ---                                      0.4/4.7 MB 3.4 MB/s eta 0:00:02
     -----                                    0.6/4.7 MB 3.6 MB/s eta 0:00:02
     --------                                 1.0/4.7 MB 4.4 MB/s eta 0:00:01
     ----------                               1.2/4.7 MB 4.6 MB/s eta 0:00:01
     ------------                             1.4/4.7 MB 4.6 MB/s eta 0:00:01
     --------------                           1.8/4.7 MB 4.8 MB/s eta 0:00:01
     ------------------                       2.1/4.7 MB 5.2 MB/s eta 0:00:01
     ---------------------                    2.5/4.7 MB 5.5 MB/s eta 0:00:01
     ------------------------                 2.9/4.7 MB 5.7 MB/s eta 0:00:01
     ---------------------------              3.2/4.7 MB 5.9 MB/s eta 0:00:01
     -----------------------------            3.5/4.7 MB 5.9 MB/s eta 0:00:01
     ---------------------------------        3.9/4.7 MB 6.1 MB/s eta 0:00:01
     ------------------------------------     4.3/4.7 MB 6.1 MB/s eta 0:00:01
     -------------------------------------    4.5/4.7 MB 6.1 MB/s eta 0:00:01
     ---------------------------------------  4.7/4.7 MB 6.0 MB/s eta 0:00:01
     ---------------------------------------- 4.7/4.7 MB 5.9 MB/s eta 0:00:00
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (6.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\admin\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\admin\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\admin\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\admin\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
                                              0.0/62.7 kB ? eta -:--:--
     ---------------------------------------- 62.7/62.7 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: zipp>=0.5 in c:\users\admin\anaconda3\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.18->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.18->streamlit) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.18->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests<3,>=2.18->streamlit) (2023.5.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\admin\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\admin\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Collecting pytz-deprecation-shim (from tzlocal<5,>=1.1->streamlit)
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Collecting tzdata (from tzlocal<5,>=1.1->streamlit)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------  337.9/341.8 kB 10.2 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: decorator>=3.4.0 in c:\users\admin\anaconda3\lib\site-packages (from validators<1,>=0.2->streamlit) (5.1.1)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\admin\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\admin\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\admin\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\admin\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py): started
  Building wheel for validators (setup.py): finished with status 'done'
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19591 sha256=51513156b3f0556107acaf0d6c4d9b77bc1ac201ee2ce82f0f90a8079aebf4a6
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\82\35\dc\f88ec71edf2a5596bd72a8fa1b697277e0fcd3cde83048b8bf
Successfully built validators
Installing collected packages: validators, tzdata, smmap, pympler, protobuf, cachetools, blinker, rich, pytz-deprecation-shim, pydeck, gitdb, tzlocal, gitpython, altair, streamlit
Successfully installed altair-5.0.1 blinker-1.6.2 cachetools-5.3.1 gitdb-4.0.10 gitpython-3.1.32 protobuf-4.23.4 pydeck-0.8.0 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 rich-13.4.2 smmap-5.0.0 streamlit-1.25.0 tzdata-2023.3 tzlocal-4.3.1 validators-0.20.0